/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #242b33;
  color: #ffffff;
  font-size: 16px;
}

a {
  color: #ffffff;
}
a:hover {
  color: #d4c17f;
  transition: color 0.2s ease-in;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visyaly-hiden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #d4c17f;
}

.header {
  min-height: 840px;
  background-image: url("/image/header/header-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #d4c17f;
  font-weight: 700;
}
.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 105px;
}

.nav {
  font-size: 14px;
}
.nav__list {
  display: flex;
  column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url("./../image/header/map.svg");
}
.info--tel::before {
  background-image: url("./../image/header/phone.svg");
}

.benefits {
  padding: 120px 0;
}
.benefits__row {
  display: flex;
  column-gap: 70px;
}
.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.apartments__title {
  margin-bottom: 88px;
}
.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*Dekstop mobil
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  */
  gap: 30px;
}

.card {
  position: relative;
  overflow: hidden;
}
.card__image {
  border-radius: 1%;
  transition: transform 0.2s ease-in;
}
.card__image:hover {
  transform: scale(1.1);
}
.card__title {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.cta {
  padding: 180px 0;
  background-image: url("./../image/cta/cta-bg.jpg");
}
.cta__title {
  margin-bottom: 17px;
}
.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.cta__text {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.form__privacy {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #e7e7e7;
  text-align: center;
  line-height: 1.8;
}
.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #d4c17f;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: rgb(220.55, 197.7276470588, 118.45);
}

.video {
  text-align: center;
}
.video__link {
  position: relative;
  display: block;
  text-align: center;
}
.video__link:hover {
  transition: filter 0.3s ease;
  filter: brightness(1.2);
}
.video__link:hover .video__icon {
  transform: translate(-50%, -50%) scale(1.2);
  filter: saturate(1.5);
}
.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.2s ease-in;
  transform: translate(-50%, -50%);
}

.section-map {
  padding: 180px 0;
}
.section-map__title {
  margin-bottom: 88px;
}
.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}
.feedback__title {
  margin-bottom: 38px;
}
.feedback__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2d343c;
  letter-spacing: 0.05rem;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.footer__logo {
  margin-top: -12px;
}
.footer__socials {
  margin-top: 20px;
  display: flex;
  column-gap: 22px;
  align-items: center;
}

.footer-nav__list {
  display: grid;
  gap: 15px;
}
.footer-nav__link {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5%;
}