.card {
  position: relative;
  overflow: hidden;

  &__image {
    border-radius: 1%;
    transition: transform 0.2s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    position: absolute;
    left: 50px;
    right: 20px;
    bottom: 44px;
    font-family: $font-main;
    color: $white;
    font-size: 24px;
    font-weight: 400;

    @include mediaTablet {
      font-size: 20px;
      left: 30px;
      bottom: 35px;
    }
  }
}
