.header {
  min-height: 840px;
  background-image: url("/image/header/header-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 74px;

  @include mediaTablet {
    min-height: unset;
    row-gap: 50px;
  }

  &__nav {
    @include mediaTablet {
      display: none;
    }
  }

  &__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--mobile {
      position: fixed;
      z-index: 9;
      background-color: $dark;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 60px;
    }
  }

  &__nav-btn {
    display: none;

    @include mediaTablet {
      display: block;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 121px;
    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;

    @include mediaTablet {
      font-size: 32px;
      padding-bottom: 100px;
    }
    &-icon {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include mediaTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
}
