.video {
  overflow: hidden;
  text-align: center;
  position: relative;

  &::after {
    content: "IV";
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 190px;
    font-size: 400px;
    font-family: $font-accent;
    font-weight: 700;
    color: $white;
    opacity: 0.02;
    overflow: hidden;

    @include mediaTablet {
      content: "";
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    text-align: center;

    &:hover {
      transition: filter 0.3s ease;
      filter: brightness(1.2);
    }
  }

  &__link:hover &__icon {
    transform: translate(-50%, -50%) scale(1.2);
    filter: saturate(1.5);
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.2s ease-in;
    transform: translate(-50%, -50%);

    @include mediaTablet {
      width: 80px;
      height: 80px;
    }
  }
}
