@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: $font-accent;
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

a {
  color: $white;
  &:hover {
    color: $accent;
    transition: color 0.2s ease-in;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 15px;
    width: 1140px;
  }
}
