//fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

//colors
$dark: #242b33;
$accent: #d4c17f;
$white: #ffffff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;

//media
$tablet: 959px;
$small: 630px;
$border: 639px;
